* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

body{
    background: #F5F5F5 ;
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100vh;
}

section nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: red;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
    height: 18vh;
}

section nav .logo img{
    width: 186px;
    height:auto;
    cursor: pointer;
    margin: 7px 0;
    filter: brightness(0) invert(1);
}

section nav .logo img:hover{
    filter: brightness(0);
    transition: .5s;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 20px;
}

section nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    transition: .1s;
}

section nav ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    transition: .2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color: black;
}

section nav .icon i{
    font-size:  20px;
    color: white;
    margin: 0 5 px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover{
    color: black;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

section .main .men_text h1{
    font-size: 50px;
    position: relative;
    left: 50px;
    top: -50px;
    font-family: Monospace;
}

section .main .men_text h1 span{
    margin-left: 15px;
    color: red;
    font-family: mv boli;
    line-height: 22px;
    font-size: 60px;
}

section .main .main_image img{
    width: 500px;
    position: relative;
    left: 30px;
}

section p{
    width: 650px;
    text-align: justify;
    position: relative;
    left:120px;
    bottom: 25px;
    top: -40px;
    line-height: 22px;
    font-weight: 500;
}

section .main_btn{
    background: red;
    position: relative;
    left: 115px;
    top: -15px;
    bottom: 10px;
    width: 170px;
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 15px;
}

section .main_btn a{
    color:white;
    text-decoration: none;
    margin-right: 5px;
    font-weight: bolder;
}

section .main_btn i{
    color: white;
    transition: .3s;
}

section .main_btn:hover i{
    transform: translateX(12px);
}



/* Blog */



.blog {
    top: 100px;
    padding: 150px ;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.blog h1{
    font-size: 50px;
    position: relative;
    left: 50px;
    top: -25px;
    font-family: Monospace;
}

.blog span{
    margin-left: 15px;
    color: red;
    font-family: mv boli;
    line-height: 22px;
    font-size: 60px;
}

.view-more{
    padding: 10px;
    background-color: #F5F5F5;
    border: 2px dashed red;
    border-radius: 15px;
    width: 100px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog .view-more a{
    color: red;
    text-decoration: none;
    transition: .3s;
}

.blog .view-more a:hover{
    color: black;
}


.blog-main{
    width: 100%;
    height: 400px;
    display: flex;
}
.blog-left{
    top: -50px;
    width: 50%;
    /* height: 100%; */
    padding: 10px 100px;

}
.blog-right{
    width: 50%;
    height: 100%;
    /* background-color: rgb(46, 70, 0); */
    padding: 30px 100px;
}
.blog-left .img{
    width: 80%;
    height: 70%;
    background-color: black;
    border-radius: 1rem;
}
.blog-left p{
    font-size: 14px;
    margin: 10px 0;
    color: rgb(21, 21, 21);
}
.blog-left h5{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 800;
}
.right-box{
    width: 90%;
    height: 150px;
    /* background-color: yellow; */
    display: flex;
    margin: 10px;
}
.right-box .img{
    width: 30%;
    height: 100%;
    background-color: red;
    border-radius: 1rem;
}
.box-text{
    margin-left: 20px;
    padding: 10px;
}
.box-text p{
    font-size: 14px;
    margin: 5px 0;
    color: rgb(21, 21, 21);
}
.box-text h3{
    font-size: 18px;
}
.box-text h1{
    background-color: green;
    border-radius: 2rem;
    font-size: 15px;
    padding: 5px;
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 8px 0;
}


/* ABOUT */

.about{
    width: 100%;
    height: 100vh;
    padding: 70px 0px;
}

.about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_main .image img {
    width: 700px;
    top:42px;
    position: relative;
}

.about .about_main .about_text h1 span{
    color:red;
    margin-right: 15px;
    font-family: mv boli;
}


.about .about_main .about_text h1{
    font-size: 55px;
    position: relative;
    bottom:20px;
}

.about .about_main .about_text h3{
    font-size: 30px;
    margin: 0 0 50px 0;
    bottom: 40px;
}

.about .about_main .about_text p{
    width: 550px;
    text-align: justify;
    margin-right: 20px;
    line-height: 22px;
}
.about .about_btn{
    background: red;
    position: relative;
    left: 56%;
    bottom:100px;
    width: 170px;
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 15px;
}
.about .about_btn a{
    color:white;
    text-decoration: none;
    margin-right: 5px;
    font-weight: bolder;
}   

.about .about_btn:hover i{
    transform: translateX(12px);
}

.about .about_btn i{
    color: white;
    transition: .3s;
}
    /* MENU */

.menu{
    width: 100%;
    padding: 110px 0;
}

.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu h1 span{
    color: red;
    margin-left: 15px;
    font-family: mv boli;
    }

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: red;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 9px;
    background: url("https://media.istockphoto.com/id/1007122208/vector/grey-and-white-geometric-triangles-backgorund.jpg?s=612x612&w=0&k=20&c=Qk4uuwQUj4ElhWZ-E1qfnHIezG2ljxc2uAjtgEZxYWs=");
}

.menu .menu_box .menu_card{
    width: 300px;
    height: 380px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.menu .menu_box .menu_card .menu_image{
    width: 250px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -205px;
    right: -10px;
    opacity: 0;
    border-radius: 7px;
    transition: .3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: red;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: .3s;
}

.menu .menu_box .menu_card .small_card i:hover{
   color: yellow;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 4px auto 2px;
    font-size: 25px;
    color: red;
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 4px;
    line-height: 15px;
    font-family: Brush Script MT;
}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 4px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: red;
    text-align: center;
    margin: 4px 0 4px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.menu .menu_btn{
    width: 100px;
    height: 20px;
    background-color: green;
    position: relative;
    right: -100px;
    transition: .3s;
    border-radius: 6px;
}

.menu .menu_btn:hover{
    transform: scale(1,1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



/* REVIEWWWWW */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeeeea;
}


.wrapper {
    width: 100%;
    height: 125vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 15px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: white;
    padding-top: 5px;
    font-weight: bolder;
}

.description h4 {
    text-transform: uppercase;
}

.int{
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('rev1.jpg');
}
.card[for="c2"] {
    background-image: url('rev2.jpg');
}
.card[for="c3"] {
    background-image: url('rev3.jpg');
}
.card[for="c4"] {
    background-image: url('rev5.jpg');
}

.text h1{
    position: relative;
    font-family: Monospace;
    top: 210px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;    
}

.text span{
    color: red;
    margin-left: 20px;
    font-family: mv boli;
}

.text h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: red;
    display: block;
    position: relative;
    bottom: 15px;
}


.orderPg{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.anchor {
    position: relative;
    color: #000;
    text-decoration: none;
    margin-right: 12px;
    background: -webkit-linear-gradient(0deg,yellow,rgba(234, 50, 50, 0.936),rgba(0, 10, 0, 0.656) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .anchor:hover {
    color: #000;
  }
  
  .anchor::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .anchor:hover::before {
    transform: scaleX(1);
}

.ImgP{
    height: 39rem;
}

.order-div{
    width:100vw;
}

.orderpage{
    display: flex;
    /* justify-content:space-between; */
    flex-direction: row;
}
.form-container {
    width: 600px;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="number"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.right-container {
    display: flex;
    justify-content: space-between;
}
.right-container .input-group {
    width: 48%;
}



.submit{
    margin-top: 12px;
    height: 60px;
    width: 200px;
    font-weight: bolder;
    font-size: larger;
    color: rgb(21, 21, 15);
    background-color: rgba(221, 221, 33, 0.895);
    border:2px solid;
    border-radius: 12px;
}
.burgerImg{
    position: relative;   
    left: 40%;
    margin-top: -130px;
    animation: burgerImg;
    animation-timeline:view() ;
}

@keyframes burgerImg {
    from{
        transform: translateY(40px)scale(0.3);
    }to{
        transform: translateY(0px)scale(1);
    }
    
}

#footer{
    background-color: rgba(2, 2, 63, 0.451);
    height: 18rem;
    width: 100%;
}
.fmain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}
ul{
    list-style: none;
}
li{
    margin: 2px;
    margin-top: 10px;
    font-size: larger;
    font-weight: 400;
    color: white;
}